<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/util
                    http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <alias name="defaultUserReversPopulator" alias="userReversPopulator"/>
    <bean id="defaultUserReversPopulator" class="pl.university.project.populators.impl.UserReversPopulator"/>

    <alias name="defaultUserReversConverter" alias="userReversConverter"/>
    <bean id="defaultUserReversConverter"
          class="pl.university.project.converters.impl.UserReversConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="userReversPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultUserPopulator" alias="userPopulator"/>
    <bean id="defaultUserPopulator" class="pl.university.project.populators.impl.UserPopulator"/>

    <alias name="defaultUserConverter" alias="userConverter"/>
    <bean id="defaultUserConverter"
          class="pl.university.project.converters.impl.UserConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="userPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultClientPopulator" alias="clientPopulator"/>
    <bean id="defaultClientPopulator" class="pl.university.project.populators.impl.ClientPopulator"/>

    <alias name="defaultClientConverter" alias="clientConverter"/>
    <bean id="defaultClientConverter"
          class="pl.university.project.converters.impl.ClientConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="clientPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultClientReversPopulator" alias="clientReversPopulator"/>
    <bean id="defaultClientReversPopulator" class="pl.university.project.populators.impl.ClientReversPopulator"/>

    <alias name="defaultClientReversConverter" alias="clientReversConverter"/>
    <bean id="defaultClientReversConverter"
          class="pl.university.project.converters.impl.ClientReversConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="clientReversPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultCampaignPopulator" alias="campaignPopulator"/>
    <bean id="defaultCampaignPopulator" class="pl.university.project.populators.impl.CampaignPopulator"/>

    <alias name="defaultCampaignConverter" alias="campaignConverter"/>
    <bean id="defaultCampaignConverter"
          class="pl.university.project.converters.impl.CampaignConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="campaignPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultCampaignReversPopulator" alias="campaignReversPopulator"/>
    <bean id="defaultCampaignReversPopulator" class="pl.university.project.populators.impl.CampaignReversPopulator"/>

    <alias name="defaultCampaignReversConverter" alias="campaignReversConverter"/>
    <bean id="defaultCampaignReversConverter"
          class="pl.university.project.converters.impl.CampaignReversConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="campaignReversPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultClientCampaignPopulator" alias="clientCampaignPopulator"/>
    <bean id="defaultClientCampaignPopulator" class="pl.university.project.populators.impl.ClientCampaignPopulator"/>

    <alias name="defaultClientCampaignConverter" alias="clientCampaignConverter"/>
    <bean id="defaultClientCampaignConverter"
          class="pl.university.project.converters.impl.ClientCampaignConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="clientCampaignPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultClientCampaignReversPopulator" alias="clientCampaignReversPopulator"/>
    <bean id="defaultClientCampaignReversPopulator" class="pl.university.project.populators.impl.ClientCampaignReversPopulator"/>

    <alias name="defaultClientCampaignReversConverter" alias="clientCampaignReversConverter"/>
    <bean id="defaultClientCampaignReversConverter"
          class="pl.university.project.converters.impl.ClientCampaignReversConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="clientCampaignReversPopulator"/>
            </list>
        </property>
    </bean>


    <alias name="defaultCampaignForecastPopulator" alias="campaignForecastPopulator"/>
    <bean id="defaultCampaignForecastPopulator" class="pl.university.project.populators.impl.CampaignForecastPopulator"/>

    <alias name="defaultCampaignForecastConverter" alias="campaignForecastConverter"/>
    <bean id="defaultCampaignForecastConverter"
          class="pl.university.project.converters.impl.CampaignForecastConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="campaignForecastPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultForecastPopulator" alias="forecastPopulator"/>
    <bean id="defaultForecastPopulator" class="pl.university.project.populators.impl.ForecastPopulator"/>

    <alias name="defaultForecastConverter" alias="forecastConverter"/>
    <bean id="defaultForecastConverter"
          class="pl.university.project.converters.impl.ForecastConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="forecastPopulator"/>
            </list>
        </property>
    </bean>

    <alias name="defaultForecastReversPopulator" alias="forecastReversPopulator"/>
    <bean id="defaultForecastReversPopulator" class="pl.university.project.populators.impl.ForecastReversPopulator"/>

    <alias name="defaultForecastReversConverter" alias="forecastReversConverter"/>
    <bean id="defaultForecastReversConverter"
          class="pl.university.project.converters.impl.ForecastReversConverter">
        <property name="populators">
            <list value-type="pl.university.project.populators.Populator">
                <ref bean="forecastReversPopulator"/>
            </list>
        </property>
    </bean>

</beans>
