<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Save user page</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a class="nav-left" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left" th:href="@{/clients}">Klienci</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-left" th:href="@{/admin/users}">Użytkownicy</a>
    </div>
    <div class="top-nav-right">
        <a class="nav-left" th:href="@{/account}">[[${#httpServletRequest.remoteUser}]]</a>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<div class="content">
    <div class="form">
        <form class="form" action="#"
              th:object="${user}" th:action="${user.id} != null? @{|/admin/users/${user.id}/update|} : @{/admin/users/add}"
              th:method="${user.id} != null? PUT : POST">
            <h2 th:text="${user.id} == null? |Dodawanie nowego| : |Edycja użytkownika|"></h2>
            <h2 th:text="${user.id} == null? |użytkownika| : |${user.username}|"></h2>
            <input type="hidden" th:value="${referer}" name="referer"/>
            <p>Nazwa użytkownika:</p>
            <br>
            <input type="text" th:field="*{username}" />
            <br th:if="${#fields.hasErrors('username')}">
            <div th:if="${#fields.hasErrors('username')}" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p  th:errors="*{username}"/>
            </div>
            <p>Hasło:</p>
            <br>
            <input type="text" th:field="*{password}" />
            <br th:if="${#fields.hasErrors('password')}">
            <div th:if="${#fields.hasErrors('password')}" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p  th:errors="*{password}"/>
            </div>
            <p>Powtórz Hasło:</p>
            <br>
            <input type="text" th:field="*{repeatPassword}" />
            <br th:if="${#fields.hasErrors('repeatPassword')}">
            <div th:if="${#fields.hasErrors('repeatPassword')}" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p  th:errors="*{repeatPassword}"/>
            </div>
            <br th:if="${#fields.hasErrors('global')}">
            <div th:if="${#fields.hasErrors('global')}" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p  th:errors="*{global}"/>
            </div>
            <br>
            <p>
                <input type="submit" value="Zapisz użytkownika" />
                <a th:href="${referer}!=null? ${referer}:'/'"/>
                <button type="button">Anuluj</button>
                </a>
            </p>
        </form>
    </div>
</div>

<footer>
    &copy;2022 Wszystkie prawa zastrzezone
</footer>
</body>
</html>