<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona kampanii banku</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div>
    <a th:href="@{/campaigns}">Kampanie</a>  &#x2192
    <a th:href="@{|/campaigns/${campaign.id}|}" th:text="${campaign.title}"></a>
</div>


<div th:if="${canAddClients}">
<a  th:href="@{|/campaigns/${campaign.id}/participants/add|}"/>
<button type="button">Dodaj nowego uczestnika kampanii</button>
</a>
</div>
<h1 th:unless="${canAddClients}">Wszyscy klienci banku uczestniczą w powyższej kampanii</h1>
<div>
    <h1 th:text="|Uczestnicy kampanii ${campaign.title}|"></h1>
<table>
    <thead>
    <tr>
        <th>Klient </th>
        <th>Czas trwania ostatniego kontaktu</th>
        <th>Liczba kontaktów</th>
        <th>Data ostatniego kontaktu</th>
        <th>Opis</th>
    </tr>
    </thead>
<tr th:each="clientCampaign: ${clientCampaigns}">
    <td th:text="|${clientCampaign.client.firstName} ${clientCampaign.client.lastName}|">
    <td th:text="${clientCampaign.callDurationInSeconds}">
    <td th:text="${clientCampaign.numberOfContactsDuringCampaign}">
    <td th:text="${#dates.format(clientCampaign.lastContactDate, 'dd-MM-yyyy')}" >
    <td>
    <a th:href="@{|/campaigns/${clientCampaign.campaign.id}/participants/${clientCampaign.client.id}|}"/>
    <button type="button">Zobacz szczegóły</button>
    </a>
    </td>
    <td>
    <a th:href="@{|/campaigns/${clientCampaign.campaign.id}/participants/${clientCampaign.client.id}/update|}"/>
    <button type="button">Edytuj</button>
    </a>
    </td>
    <td>
    <form th:action="@{|/campaigns/${clientCampaign.clientCampaignId.campaignId}/participants/${clientCampaign.clientCampaignId.clientId}/delete|}"  th:method="delete">
        <button type="submit"
                th:data-confirm-delete="|Czy na pewno chcesz usunąć klienta ${clientCampaign.client.firstName} ${clientCampaign.client.lastName} z kampanii ${campaign.title}?|"
                onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Usuń</button>
    </form>
    </td>
</tr>
</table>
</div>
<footer>
    &copy;2022 Wszystkie prawa zastrzezone
</footer>
</body>
</html>