<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User site</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a class="nav-left" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left active" th:href="@{/clients}">Klienci</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-left" th:href="@{/admin/users}">Użytkownicy</a>
    </div>
    <div class="top-nav-right">
        <form class="nav-left logout" th:action="@{|/clients/${client.id}/update|}" method="get">
            <input class="btn-logout" type="submit" value="Edytuj użytkownika"/>
        </form>
        <a class="nav-left" th:href="@{/account}">[[${#httpServletRequest.remoteUser}]]</a>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<div class="breadcrumbs">
    <a class="breadcrumb" th:href="@{/clients}">Klienci</a>  &#x2192
    <span th:text="|${client.firstName} ${client.lastName}|"></span>
</div>
<div class="content">
<div class="form" th:object="${client}">
    <div class="information">
    <h1>Informacje o kliencie</h1>
    <table class="bottom">
        <tr>
            <td class="left">Imię</td>
            <td class="left" th:text="*{firstName}"></td>
        </tr>
        <tr>
            <td class="left">Nazwisko</td>
            <td class="left" th:text="*{lastName}"></td>
        </tr>
        <tr>
            <td class="left">Wiek</td>
            <td class="left" th:text="|*{age} lat|"></td>
        </tr>
        <tr>
            <td class="left">Numer telefonu</td>
            <td class="left" th:text="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td class="left">Rodzaj telefonu</td>
            <td class="left" th:text="*{contactType}=='Nie wiadomo'? 'Nie podano':*{contactType}"></td>
        </tr>
        <tr>
            <td class="left">Zawód:</td>
            <td class="left" th:text="*{job}=='Nie wiadomo'? 'Nie podano':*{job}"></td>
        </tr>
        <tr>
            <td class="left">Poziom wykształcenia:</td>
            <td class="left" th:text="*{educationLevel}=='Nie wiadomo'? 'Nie podano':*{educationLevel}"></td>
        </tr>
        <tr>
            <td class="left">Status cywilny:</td>
            <td class="left" th:text="*{martialStatus}"></td>
        </tr>
        <tr>
            <td class="left">Saldo:</td>
            <td class="left" th:text="*{balance}"></td>
        </tr>
        <tr>
            <td class="left">Zalega ze spłatami:</td>
            <td class="left"><input type="checkbox"  disabled="true" th:checked="*{hasDefaultCredit}" /></td>
        </tr>
        <tr>
            <td class="left">Posiada kredyt hipoteczny:</td>
            <td class="left"><input type="checkbox"  disabled="true" th:checked="*{hasMortgage}" /></td>
        </tr>
        <tr>
            <td class="left">Posiada kredyt konsumpcyjny:</td>
            <td class="left"><input type="checkbox"  disabled="true" th:checked="*{hasConsumerCredit}" /></td>
        </tr>
    </table>
    </table>
    <table th:unless="${#lists.isEmpty(campaigns)}">
        <thead>
        <tr>
            <th class="header">Uczęstnik kampanii</th>
            <th class="header" colspan="2">Prawdopodobieństwo założeia lokaty</th>
        </tr>
        </thead>
        <tr th:each="campaign: ${campaigns}">
            <td class="left" th:text="${campaign.title}">
            <td class="center" th:text="${campaign.forecast}!=null? ${campaign.forecast} : 'Brak danych'">
            <td>
                <a th:href="@{|/campaigns/${campaign.id}/participants/${client.id}|}"/>
                <button class="btn" type="button">Zobacz szczegóły</button>
                </a>
            </td>
        </tr>
    </table>
    </div>
</div>
</div>
<footer>
    &copy;2022 Wszystkie prawa zastrzezone
</footer>
</body>
</html>