<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona klientów banku</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

<div class="topnav">
    <a class="nav-left" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left active" th:href="@{/clients}">Klienci</a>
    <div class="topnav-right">
        <span class="nav-left" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<div>
<table>
    <thead>
    <tr>
        <th class="header">Imie</th>
        <th class="header">Nazwisko</th>
        <th class="header">Wiek</th>
        <th class="header">Numer telefonu</th>
        <th class="header">Zawód</th>
        <th class="header">Poziom wykształenia</th>
        <th class="header">Saldo</th>
        <th colspan="3">
            <a th:href="@{|/clients/add|}"/>
            <button class="btn" type="button">Dodaj nowego klienta</button>
            </a>
        </th>
    </tr>
    </thead>
<tr th:each="client: ${clients}">
    <td th:text="${client.firstName}">
    <td th:text="${client.lastName}">
    <td th:text="|${client.age} lat|">
    <td th:text="${client.phoneNumber}">
    <td th:text="${client.job}=='Nie wiadomo'? 'Nie podano':${client.job}">
    <td th:text="${client.educationLevel}=='Nie wiadomo'? 'Nie podano':${client.educationLevel}">
    <td th:text="${client.balance}">
    <td>
    <a th:href="@{|/clients/${client.id}|}"/>
    <button class="btn"  type="button">Zobacz szczegóły</button>
    </a>
    </td>
    <td>
    <a th:href="@{|/clients/${client.id}/update|}"/>
    <button class="btn"  type="button">Edytuj</button>
    </a>
    </td>
    <td>
    <form th:action="@{|/clients/${client.id}/delete|}"  th:method="delete">
        <button class="btn-delete"  type="submit"
                th:data-confirm-delete="|Czy na pewno chcesz usunąć klienta ${client.firstName} ${client.lastName}?|"
                onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Usuń</button>
    </form>
    </td>
</tr>
</body>
</html>