<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User site</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div th:object="${client}">
          <p th:text="*{firstName}" />
          <p th:text="*{lastName}" />
          <p th:text="*{age}" />
          <p th:text="*{phoneNumber}" />
          <p th:text="*{contactType}=='Nie wiadomo'? 'Nie podano':*{contactType}" />
          <p th:text="*{job}=='Nie wiadomo'? 'Nie podano':*{job}" />
          <p th:text="*{educationLevel}=='Nie wiadomo'? 'Nie podano':*{educationLevel}" />
          <p th:text="*{martialStatus}" />

          <a th:href="@{|/clients/*{id}/update|}"/>
            <button type="button">Edytuj</button>
          </a>
</div>
</body>
</html>