<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Strona logowania </title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="content">
<div  class="login">
    <form class="form" th:action="@{/login}" method="post">

        <label class="label" for="fusername">Nazwa użytkownika</label>
        <br>
        <input id="fusername" type="text" name="username" placeholder="Nazwa użytkownika"/>
        <br>
        <label for="fpassword">Hasło</label>
        <br>
        <input id="fpassword" type="password" name="password" placeholder="Hasło"/>
        <br>
        <input class="btn-login" type="submit" value="Zaloguj"/>
        <div th:if="${param.error}" class="alert error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p>Nieprawidłowa nazwa użytkownika lub hasło.</p>
        </div>
        <div th:if="${param.logout}" class="alert info">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p  >Zostałeś wylogowany.</p>
        </div>
    </form>
</div>
</div>
<footer>
    &copy;2022 Wszystkie prawa zastrzeżone
</footer>
</body>
</html>