<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Strona logowania </title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:if="${param.error}">
    Nieprawidłowa nazwa użytkownika lub hasło.
</div>
<div th:if="${param.logout}">
    Zostałeś wylogowany.
</div>
<div  class="form">
    <form th:action="@{/login}" method="post">
        <label class="label" for="fusername">Nazwa użytkownika</label>
        <br>
        <input id="fusername" type="text" name="username" placeholder="Nazwa użytkownika"/>
        <br>
        <label for="fpassword">Hasło</label>
        <br>
        <input id="fpassword" type="password" name="password" placeholder="Hasło"/>
        <br>
        <input type="submit" value="Zaloguj"/>
    </form>
</div>
</body>
</html>