<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Campaign form page</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a class="nav-left active" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left" th:href="@{/clients}">Klienci</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-left" th:href="@{/admin/users}">Użytkownicy</a>
    </div>
    <div class="top-nav-right">
        <a class="nav-left" th:href="@{/account}">[[${#httpServletRequest.remoteUser}]]</a>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<div class="breadcrumbs">
    <a class="breadcrumb" th:href="@{/campaigns}">Kampanie</a>  &#x2192
    <a th:if="${campaign.id} != null" class="breadcrumb" th:href=" @{|/campaigns/${campaign.id}|}"
       th:text="|${campaign.title}|"></a>
    <span th:unless="${campaign.id} != null" th:text="|Tworzenie kampanii|"></span>
</div>
<div class="content">
<div class="form">
<form class="form"  action="#" th:object="${campaign}" th:action="${campaign.id} != null? @{|/campaigns/${campaign.id}/update|} : @{/campaigns/add}"
      th:method="${campaign.id} != null? PUT : POST">
    <h2 th:text="${campaign.id} == null? |Tworzenie nowej| : |Edycja kampanii|"></h2>
    <h2 th:text="${campaign.id} == null? |kampanii|"></h2>
    <input type="hidden" th:value="${referer}" name="referer"/>
    <p>Tytuł kampanii: </p>
    <br>
    <input type="text" th:field="*{title}" />
    <br th:if="${#fields.hasErrors('title')}">
    <div th:if="${#fields.hasErrors('title')}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p  th:errors="*{title}"/>
    </div>
    <p>Data rozpoczęcia:</p>
    <br>
    <input type="date" th:field="*{campaignStartDate}" />
    <div th:if="${#fields.hasErrors('campaignStartDate')}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p>Data rozpoczęcia nie może być pusta!</p>
    </div>
    <p>Data zakończenia: </p>
    <br>
    <input type="date" th:field="*{campaignEndDate}" />
    <div th:if="${#fields.hasErrors('campaignEndDate')}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p>Data zakończenia nie może być pusta!</p>
    </div>
    <div th:if="${#fields.hasErrors('global')}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p  th:errors="*{global}"/>
    </div>
    <p>Opis:</p>
    <br>
    <textarea th:field="*{description}" rows="4" cols="50"></textarea>
    <br th:if="${#fields.hasErrors('description')}">
    <div th:if="${#fields.hasErrors('description')}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p  th:errors="*{description}"/>
    </div>
    <p class="center">
        <input  class="btn-save" type="submit" value="Zapisz" />
        <a th:href="${referer}!=null? ${referer}:'/'"/>
            <button  class="btn-logout" type="button">Anuluj</button>
        </a>
    </p>
</form>

</div>
</div>
<footer>
    &copy;2022 Wszystkie prawa zastrzeżone
</footer>
</body>
</html>