<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save user page</title>
</head>
<body>
<h1>Form</h1>
<form action="#" th:object="${client}" th:action="${client.Id} != null? @{|/clients/${client.id}/update|} : @{/clients/add}"
      th:method="${client.Id} != null? PUT : POST">
    <p>Imię: <input type="text" th:field="*{firstName}" /></p>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
    <p>Nazwisko: <input type="text" th:field="*{lastName}" /></p>
    <p  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
    <p>Wiek: <input type="number" th:field="*{age}" min="11" max="150"></p>
    <p  th:if="${#fields.hasErrors('age')}">Wiek nie może być pusty oraz musi być większy od 18!</p>
    <p>Zawód:
        <select th:field="*{job}">
            <option th:each="option : ${jobs}" th:value="${option}" th:text="${option}"
                    th:selected="(${option} == *{job})">
            </option>
        </select>
    </p>
    <p  th:if="${#fields.hasErrors('job')}" th:errors="*{job}"/>

    <p>
        <input type="submit" value="Zapisz" />
        <a th:href="@{|/clients|}"/>Anuluj</a>
    </p>

</form>


</body>
</html>