<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Save user page</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a class="nav-left active" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left" th:href="@{/clients}">Klienci</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-left" th:href="@{/admin/users}">Użytkownicy</a>
    </div>
    <div class="top-nav-right">
        <a class="nav-left" th:href="@{/account}">[[${#httpServletRequest.remoteUser}]]</a>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<div class="breadcrumbs">
    <a class="breadcrumb" th:href="@{/campaigns}">Kampanie</a>   &#x2192
    <a class="breadcrumb" th:if="${clientCampaign.clientCampaignId.campaignId} != null"
       th:href=" @{|/campaigns/${clientCampaign.clientCampaignId.campaignId}|}"
       th:text="|${clientCampaign.campaign.title}|"></a>   &#x2192
    <a class="breadcrumb"  th:if="${clientCampaign.clientCampaignId.clientId} != null"
       th:href="@{|/campaigns/${clientCampaign.clientCampaignId.campaignId}/participants/${clientCampaign.clientCampaignId.clientId}|}"
       th:text="|${clientCampaign.client.firstName} ${clientCampaign.client.lastName}|"></a>
    <span th:unless="${clientCampaign.clientCampaignId.clientId} != null" th:text="|Dodawanie uczęstnika|"></span>
</div>
<div class="content">
<div class="form">
<form class="form" action="#" th:object="${clientCampaign}" th:action="${clientCampaign.clientCampaignId.clientId} != null?
@{|/campaigns/${clientCampaign.clientCampaignId.campaignId}/participants/${clientCampaign.clientCampaignId.clientId}/update|} :
@{|/campaigns/${clientCampaign.clientCampaignId.campaignId}/participants/add|}"
      th:method="${clientCampaign.clientCampaignId.clientId} != null? PUT : POST">
    <h4 class="top-header"  th:text="|Kampania *{campaign.title}|"></h4>
    <h2 th:text="*{client}==null? |Dodawanie nowego|   :|Edycja uczestnika |" ></h2>
    <h2 th:text="*{client}==null? |uczestnika|      :|*{client.firstName} *{client.lastName}|" ></h2>
    <br>
    <div th:if="*{clientCampaignId.clientId}==null">
        <p >Wybierz klienta:</p>
        <br>
        <select th:field="*{clientCampaignId.clientId}">
            <option th:each="option : ${clients}" th:value="${option.id}" th:text="|${option.firstName} ${option.lastName}|">
            </option>
        </select>
    </div>
<!--    <p  th:if="${#fields.hasErrors('client')}" th:errors="*{client}"/>-->
    <p>Czas trwania ostatniego kontaktu:</p>
    <br>
    <input type="text" th:field="*{callDurationInSeconds}" placeholder="np. 1h 30m 30s" />
    <br th:if="${#fields.hasErrors('callDurationInSeconds')}">
    <div th:if="${#fields.hasErrors('callDurationInSeconds')}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p  th:errors="*{callDurationInSeconds}"/>
    </div>
    <p>Liczba kontaktów podczas kampanii:</p>
    <br>
    <input type="number" th:field="*{numberOfContactsDuringCampaign}"  min="0"/>
    <br th:if="${#fields.hasErrors('numberOfContactsDuringCampaign')}">
    <div th:if="${#fields.hasErrors('numberOfContactsDuringCampaign')}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p>Liczba kontaktów nie może być pusta, ani mniejsza od zera!</p>
    </div>
    <p>Data ostatniego kontaktu:</p>
    <br>
    <input type="date" th:field="*{lastContactDate}" />
    <br th:if="${#fields.hasErrors('lastContactDate')}">
    <div th:if="${#fields.hasErrors('lastContactDate')}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p>Data ostatniego kontaktu nie może być pusta!</p>
    </div>
    <br>
    <div th:if="*{clientCampaignId.clientId}!=null">
        <p >Ustaw wynik kampanii:</p>
        <select th:field="*{campaignOutcome}">
            <option th:each="option : ${outcomes}" th:value="${option}" th:text="${option}"
                    th:selected="(${option} == *{campaignOutcome})">
            </option>
        </select>
    </div>
    <br>
    <p class="center">
        <input  class="btn-save" type="submit" value="Zapisz" />
        <a th:href="${referer}!=null? ${referer}:'/'"/>
            <button  class="btn-logout" type="button">Anuluj</button>
        </a>
    </p>

</form>
</div>
</div>
<footer>
    &copy;2022 Wszystkie prawa zastrzezone
</footer>
</body>
</html>