<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Save user page</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a class="nav-left" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left active" th:href="@{/clients}">Klienci</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-left" th:href="@{/admin/users}">Użytkownicy</a>
    </div>
    <div class="top-nav-right">
        <a class="nav-left" th:href="@{/account}">[[${#httpServletRequest.remoteUser}]]</a>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<div class="breadcrumbs">
    <a class="breadcrumb" th:href="@{/clients}">Klienci</a>  &#x2192
    <a th:if="${client.id} != null" class="breadcrumb" th:href=" @{|/clients/${client.id}|}"
       th:text="|${client.firstName} ${client.lastName}|"></a>
    <span th:unless="${client.id} != null" th:text="|Dodawanie klienta|"></span>
</div>
<div class="content">
<div class="form">
    <form class="form" action="#" th:object="${client}" th:action="${client.id} != null? @{|/clients/${client.id}/update|} : @{/clients/add}"
      th:method="${client.id} != null? PUT : POST">
        <h2 th:text="${client.id} == null? |Dodawanie nowego| : |Edycja klienta|"></h2>
        <h2 th:text="${client.id} == null? |klienta|"></h2>
        <input type="hidden" th:value="${referer}" name="referer"/>
        <p>Imię: </p>
        <br>
        <input type="text" th:field="*{firstName}" />
        <br th:if="${#fields.hasErrors('firstName')}">
        <div th:if="${#fields.hasErrors('firstName')}" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p  th:errors="*{firstName}"/>
        </div>
        <p>Nazwisko: </p>
        <br>
        <input type="text" th:field="*{lastName}" />
        <br th:if="${#fields.hasErrors('lastName')}">
        <div th:if="${#fields.hasErrors('lastName')}" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p  th:errors="*{lastName}"/>
        </div>
        <p>Wiek: </p>
        <br>
        <input type="number" th:field="*{age}" min="11" max="150">
        <br th:if="${#fields.hasErrors('age')}">
        <div th:if="${#fields.hasErrors('age')}" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p>Wiek nie może być pusty oraz musi być większy od 18!</p>
        </div>
        <p>Saldo: </p>
        <br>
        <input type="number" th:field="*{balance}" step="0.01"/>
        <div th:if="${#fields.hasErrors('balance')}" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p>Saldo klienta nie może być puste!</p>
        </div>
        <p>Numer telefonu:</p>
        <br>
        <input type="text" th:field="*{phoneNumber}" />
        <br th:if="${#fields.hasErrors('phoneNumber')}">
        <div th:if="${#fields.hasErrors('phoneNumber')}" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p  th:errors="*{phoneNumber}"/>
        </div>
        <p>Rodzaj telefonu: </p>
        <br>
        <select th:field="*{contactType}">
            <option th:each="option : ${contactTypes}" th:value="${option}" th:text="${option}"
                    th:selected="(${option} == *{contactType})">
            </option>
        </select>
        <br>
        <p>Zawód:</p>
        <br>
        <select th:field="*{job}">
            <option th:each="option : ${jobs}" th:value="${option}" th:text="${option}"
                    th:selected="(${option} == *{job})">
            </option>
        </select>
        <br>
        <p>Poziom wykształcenia:</p>
        <br>
        <select th:field="*{educationLevel}">
            <option th:each="option : ${educationLevels}" th:value="${option}" th:text="${option}"
                    th:selected="(${option} == *{educationLevel})">
            </option>
        </select>
        <br>
        <p>Status cywilny:</p>
        <br>
        <select th:field="*{martialStatus}">
            <option th:each="option : ${martialStatuses}" th:value="${option}" th:text="${option}"
                    th:selected="(${option} == *{martialStatus})">
            </option>
        </select>
        <br>
        <table class="table-left">
            <tr>
                <td class="left"><p class="nowrap">Zalega ze spłatami:</p></td>
                <td class="center"><input type="checkbox"  th:field="*{hasDefaultCredit}" th:checked="*{hasDefaultCredit}" /></td>
            </tr>
            <tr>
                <td class="left"><p class="nowrap">Posiada kredyt hipoteczny:</p></td>
                <td class="center"><input type="checkbox"  th:field="*{hasMortgage}" th:checked="*{hasMortgage}" /></td>
            </tr>
            <tr>
                <td class="left"><p class="nowrap">Posiada kredyt konsumpcyjny:</p></td>
                <td class="center"><input type="checkbox"  th:field="*{hasConsumerCredit}" th:checked="*{hasConsumerCredit}" /></td>
            </tr>
        </table>
        <br>
        <p class="center">
            <input  class="btn-save" type="submit" value="Zapisz" />
            <a th:href="${referer}!=null? ${referer}:'/'"/>
                <button  class="btn-logout" type="button">Anuluj</button>
            </a>
        </p>
</form>
</div>
</div>
<footer>
    &copy;2022 Wszystkie prawa zastrzeżone
</footer>
</body>
</html>