<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Save user page</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a class="nav-left" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left" th:href="@{/clients}">Klienci</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-left active" th:href="@{/admin/users}">Użytkownicy</a>
    </div>
    <div class="top-nav-right">
        <a class="nav-left" th:href="@{/account}">[[${#httpServletRequest.remoteUser}]]</a>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<div class="content">
    <div class="form">
        <form class="form" action="#"
              th:object="${user}" th:action="${user.id} != null? (${mod}=='CHANGE_USERNAME'? @{/account/changeUsername}
              :  (${mod}=='CHANGE_PASSWORD'?  @{/account/changePassword}
              :  (${mod}=='ADMIN_CHANGE_USERNAME'? @{|/admin/users/${user.id}/changeUsername|}
              :  @{|/admin/users/${user.id}/changePassword|})))
              : @{/admin/users/add}"
              th:method="${user.id} != null? PUT : POST">
            <input type="hidden" th:value="${referer}" name="referer"/>
            <input type="hidden" th:field="*{username}"/>
            <h3 th:text="${user.id} == null? |Dodawanie nowego| : (${mod}=='CHANGE_USERNAME'? |Zmiana nazwy|
             : |Zmiana hasła|)"></h3>
            <h3 th:text="${user.id} == null? |użytkownika| : (${mod}=='ADMIN_CHANGE_USERNAME' or
             ${mod}=='ADMIN_CHANGE_PASSWORD'? |użytkownika ${user.username}|)"></h3>
            <div th:if="${mod}=='CHANGE_USERNAME' or ${mod}=='CREATE_NEW' or ${mod}=='ADMIN_CHANGE_USERNAME'">
                <p>Nazwa użytkownika:</p>
                <br>
                <input type="text" th:field="*{newUsername}" />
                <br th:if="${#fields.hasErrors('newUsername')}">
                <div th:if="${#fields.hasErrors('newUsername')}" class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <p  th:errors="*{newUsername}"/>
                </div>
            </div>
            <div th:if="${mod}=='CHANGE_PASSWORD' or ${mod}=='CREATE_NEW' or ${mod}=='ADMIN_CHANGE_PASSWORD'">
                <p>Hasło:</p>
                <br>
                <input type="password" th:field="*{password}" />
                <br th:if="${#fields.hasErrors('password')}">
                <div th:if="${#fields.hasErrors('password')}" class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <p  th:errors="*{password}"/>
                </div>
                <p>Powtórz Hasło:</p>
                <br>
                <input type="password" th:field="*{repeatPassword}" />
                <br th:if="${#fields.hasErrors('repeatPassword')}">
                <div th:if="${#fields.hasErrors('repeatPassword')}" class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <p  th:errors="*{repeatPassword}"/>
                </div>
            </div>
            <div th:if="${#fields.hasErrors('global')}" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p  th:errors="*{global}"/>
            </div>
            <br>
            <p class="center">
                <input  class="btn-save" type="submit" value="Zapisz" />
                <a th:href="${referer}!=null? ${referer}:'/'"/>
                <button  class="btn-logout" type="button">Anuluj</button>
                </a>
            </p>
        </form>
    </div>
</div>

<footer>
    &copy;2022 Wszystkie prawa zastrzeżone
</footer>
</body>
</html>