<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save user page</title>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/users/add}" th:object="${user}" method="post">
    <p>Imię: <input type="text" th:field="*{firstName}" /></p>
    <p>Nazwisko: <input type="text" th:field="*{lastName}" /></p>
    <p><input type="submit" value="Zapisz użytkownika" /> <input type="reset" value="Reset" /></p>
    <a th:href="@{|/users|}"/>Anuluj</a>
</form>


</body>
</html>