<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save user page</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/users/add}" th:object="${user}" method="post">
    <input type="hidden" th:value="${referer}" name="referer"/>
    <p>Nazwa użytkownika: <input type="text" th:field="*{username}" /></p>
    <p>Hasło: <input type="text" th:field="*{password}" /></p>
    <p>
        <input type="submit" value="Zapisz użytkownika" />
        <a th:href="${referer}!=null? ${referer}:'/'"/>
        <button type="button">Anuluj</button>
        </a>
    </p>
</form>
</body>
</html>