<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User site</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a class="nav-left" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left" th:href="@{/clients}">Klienci</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-left" th:href="@{/admin/users}">Użytkownicy</a>
    </div>
    <div class="top-nav-right">
        <form class="nav-left logout" th:action="@{|/admin/users/add|}" method="get">
            <input class="btn-logout" type="submit" value="Stwórz nowego użytkownika"/>
        </form>
        <a class="nav-left active" th:href="@{/account}">[[${#httpServletRequest.remoteUser}]]</a>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<div class="content">
    <div class="form" th:object="${user}">
        <div class="information">
            <h4>Twój profil użytkownika</h4>
            <table class="bottom">
                <tr>
                    <td class="left">Nazwa użytkownika</td>
                </tr>
                <tr>
                    <td class="left" th:text="*{username}"></td>
                </tr>
                <tr>
                    <td>
                        <form  class="nav-left logout"
                               th:action="@{|/account/changeUsername|}" method="get">
                            <input class="btn-logout" type="submit" value="Zmień nazwę użytkownika"/>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form  class="nav-left logout"
                               th:action="@{|/account/changePassword|}" method="get">
                            <input class="btn-logout" type="submit" value="Zmień hasło"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer>
    &copy;2022 Wszystkie prawa zastrzezone
</footer>
</body>
</html>