<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User site</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<span th:text="${aa}"/>
<tr th:each="user: ${users}">
    <a th:href="@{|/users/${user.id}|}"/>
          <td th:text="${user.firstName}" />
          <td th:text="${user.lastName}" />
    </a>
</tr>
<footer>
    &copy;2022 Wszystkie prawa zastrzezone
</footer>
</body>
</html>