<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User site</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="top-nav">
    <a class="nav-left" th:href="@{/campaigns}">Kampanie</a>
    <a class="nav-left" th:href="@{/clients}">Klienci</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-left active" th:href="@{/admin/users}">Użytkownicy</a>
    </div>
    <div class="top-nav-right">
        <form class="nav-left logout" th:action="@{|/admin/users/add|}" method="get">
            <input class="btn-logout" type="submit" value="Stwórz nowego użytkownika"/>
        </form>
        <span class="nav-left" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
        <form class="nav-left logout" th:action="@{/logout}" method="post">
            <input class="btn-logout" type="submit" value="Wyloguj"/>
        </form>
    </div>
</div>
<table th:unless="${#lists.isEmpty(users)}">
    <thead>
    <tr>
        <th class="header">Nazwa użytkownika</th>
        <th class="header">Rola</th>
        <th colspan="3">Opcje</th>
    </tr>
    </thead>
    <tr th:each="user: ${users}">
        <td th:text="${user.username}">
        <td th:text="${user.role}">
        <td>
            <a th:href="@{|/admin/users/${user.id}/update|}"/>
            <button class="btn" type="button">Zmień nazwę użytkownika</button>
            </a>
        </td>
        <td>
            <a th:href="@{|/admin/users/${user.id}/update|}"/>
            <button class="btn" type="button">Zmień hasło</button>
            </a>
        </td>
        <td>
            <form th:action="@{|/admin/users/${user.id}/delete|}"  th:method="delete">
                <button class="btn-delete" type="submit"
                        th:data-confirm-delete="|Czy na pewno chcesz usunąć użytkownika ${user.username}?|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Usuń </button>
            </form>
        </td>
    </tr>
</table>
<footer>
    &copy;2022 Wszystkie prawa zastrzezone
</footer>
</body>
</html>